-- MySQL dump 10.13  Distrib 9.3.0, for Linux (x86_64)
--
-- Host: localhost    Database: LaboratoryAssigmentDB
-- ------------------------------------------------------
-- Server version	9.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attribute`
--

DROP TABLE IF EXISTS `attribute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attribute` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `attributeId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `attributesTypeAttributesTypeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`attributeId`),
  KEY `FK_b5605e00a6736f599d9c91f0d37` (`attributesTypeAttributesTypeId`),
  CONSTRAINT `FK_b5605e00a6736f599d9c91f0d37` FOREIGN KEY (`attributesTypeAttributesTypeId`) REFERENCES `attributes_type` (`attributesTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attribute`
--

LOCK TABLES `attribute` WRITE;
/*!40000 ALTER TABLE `attribute` DISABLE KEYS */;
/*!40000 ALTER TABLE `attribute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attributes_type`
--

DROP TABLE IF EXISTS `attributes_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attributes_type` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `attributesTypeId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`attributesTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attributes_type`
--

LOCK TABLES `attributes_type` WRITE;
/*!40000 ALTER TABLE `attributes_type` DISABLE KEYS */;
INSERT INTO `attributes_type` VALUES ('2025-05-20 21:16:08.628321','2025-05-20 21:16:08.628321','9f27a0fd-bdd7-43f3-b07a-7d3e83e3a391','Software',1),('2025-05-20 21:16:08.625202','2025-05-20 21:16:08.625202','c94d0191-0425-4c99-b1b2-3c377f7fc129','Hardware',1);
/*!40000 ALTER TABLE `attributes_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `day`
--

DROP TABLE IF EXISTS `day`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `day` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `dayId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`dayId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `day`
--

LOCK TABLES `day` WRITE;
/*!40000 ALTER TABLE `day` DISABLE KEYS */;
/*!40000 ALTER TABLE `day` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_identity_type`
--

DROP TABLE IF EXISTS `document_identity_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_identity_type` (
  `documentIdentityTypeId` varchar(36) NOT NULL,
  `abbreviation` varchar(7) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `description` varchar(35) NOT NULL,
  PRIMARY KEY (`documentIdentityTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_identity_type`
--

LOCK TABLES `document_identity_type` WRITE;
/*!40000 ALTER TABLE `document_identity_type` DISABLE KEYS */;
INSERT INTO `document_identity_type` VALUES ('987fbc9f-4bed-4078-89a6-9a0b9c1d2e3f','DNI',1,'2025-05-19 22:53:16.270536','2025-05-19 22:53:17.647282','Documento nacional de identidad'),('abcd1234-5678-90ef-abcd-1234567890ef','RUC',1,'2025-05-19 22:53:16.270536','2025-05-19 22:53:17.647282','Registro unico de contribuyentes');
/*!40000 ALTER TABLE `document_identity_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `equipmentId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`equipmentId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
INSERT INTO `equipment` VALUES ('2025-05-20 21:10:19.841994','2025-05-20 21:10:19.841994','3d9ab370-fb65-40f1-9c4e-778e63514295','Equipo Ultra Carck',1);
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_resources`
--

DROP TABLE IF EXISTS `equipment_resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_resources` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `equipmentResourcesId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `equipmentEquipmentId` varchar(36) DEFAULT NULL,
  `attributeAttributeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`equipmentResourcesId`),
  KEY `FK_9ff615fd91ecdcb7678cd6a760c` (`equipmentEquipmentId`),
  KEY `FK_5467c731848a5525c7d0e19079f` (`attributeAttributeId`),
  CONSTRAINT `FK_5467c731848a5525c7d0e19079f` FOREIGN KEY (`attributeAttributeId`) REFERENCES `attribute` (`attributeId`),
  CONSTRAINT `FK_9ff615fd91ecdcb7678cd6a760c` FOREIGN KEY (`equipmentEquipmentId`) REFERENCES `equipment` (`equipmentId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_resources`
--

LOCK TABLES `equipment_resources` WRITE;
/*!40000 ALTER TABLE `equipment_resources` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `information_type`
--

DROP TABLE IF EXISTS `information_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `information_type` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `informationTypeId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `required` tinyint NOT NULL DEFAULT '0',
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`informationTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `information_type`
--

LOCK TABLES `information_type` WRITE;
/*!40000 ALTER TABLE `information_type` DISABLE KEYS */;
INSERT INTO `information_type` VALUES ('2025-05-19 18:58:25.062901','2025-05-19 18:58:25.062901','3fa85f64-5717-4562-b3fc-2c963f66afa6','email',1,1);
/*!40000 ALTER TABLE `information_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `juridical_person`
--

DROP TABLE IF EXISTS `juridical_person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `juridical_person` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `juridicalPersonId` varchar(36) NOT NULL,
  `legalName` varchar(40) NOT NULL,
  `comercialName` varchar(40) NOT NULL,
  `personPersonId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`juridicalPersonId`),
  UNIQUE KEY `REL_49e7b42168b5c4693d3de30e94` (`personPersonId`),
  CONSTRAINT `FK_49e7b42168b5c4693d3de30e94d` FOREIGN KEY (`personPersonId`) REFERENCES `person` (`personId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `juridical_person`
--

LOCK TABLES `juridical_person` WRITE;
/*!40000 ALTER TABLE `juridical_person` DISABLE KEYS */;
INSERT INTO `juridical_person` VALUES ('2025-05-19 19:08:00.944614','2025-05-19 19:08:00.944614','9b2d4a6e-8b7a-4c51-82f0-9edc2e839e77','UCV','Universidad Cesar Vallejo','e1c2d3f4-a5b6-7c89-d0e1-2f3a4b5c6d7e');
/*!40000 ALTER TABLE `juridical_person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratory`
--

DROP TABLE IF EXISTS `laboratory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laboratory` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `laboratoryId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `capacity` int NOT NULL,
  `metadata` json NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `serviceServiceId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`laboratoryId`),
  UNIQUE KEY `REL_3c1eaa218ba792e788a82b6d4e` (`serviceServiceId`),
  CONSTRAINT `FK_3c1eaa218ba792e788a82b6d4e9` FOREIGN KEY (`serviceServiceId`) REFERENCES `service` (`serviceId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratory`
--

LOCK TABLES `laboratory` WRITE;
/*!40000 ALTER TABLE `laboratory` DISABLE KEYS */;
INSERT INTO `laboratory` VALUES ('2025-05-20 20:51:41.624175','2025-05-20 20:51:41.624175','a21ebfe4-1db3-4728-8725-ff81334c1cf9','Laboratorio de diseÔö£ÔûÆo',3,'{}',1,'f7cb64e2-553b-48f3-9f14-6e8f4b26c2cc');
/*!40000 ALTER TABLE `laboratory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratory_equipment`
--

DROP TABLE IF EXISTS `laboratory_equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laboratory_equipment` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `laboratoryEquipeId` varchar(36) NOT NULL,
  `quantity` int NOT NULL,
  `equipmentEquipmentId` varchar(36) DEFAULT NULL,
  `laboratoryLaboratoryId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`laboratoryEquipeId`),
  KEY `FK_f78687d968f98544b97cd327e29` (`laboratoryLaboratoryId`),
  KEY `FK_25459e4446e8a457f5444fe74bc` (`equipmentEquipmentId`),
  CONSTRAINT `FK_25459e4446e8a457f5444fe74bc` FOREIGN KEY (`equipmentEquipmentId`) REFERENCES `equipment` (`equipmentId`),
  CONSTRAINT `FK_f78687d968f98544b97cd327e29` FOREIGN KEY (`laboratoryLaboratoryId`) REFERENCES `laboratory` (`laboratoryId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratory_equipment`
--

LOCK TABLES `laboratory_equipment` WRITE;
/*!40000 ALTER TABLE `laboratory_equipment` DISABLE KEYS */;
INSERT INTO `laboratory_equipment` VALUES ('2025-05-20 21:11:15.228983','2025-05-20 21:11:15.228983','1b568c84-6df6-4af8-8f70-15e458ebd52f',3,'3d9ab370-fb65-40f1-9c4e-778e63514295','a21ebfe4-1db3-4728-8725-ff81334c1cf9');
/*!40000 ALTER TABLE `laboratory_equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratory_technical_support`
--

DROP TABLE IF EXISTS `laboratory_technical_support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laboratory_technical_support` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `laboratoryTechnicalSupportId` varchar(36) NOT NULL,
  `turn` enum('MANANA','TARDE','NOCHE') NOT NULL,
  `laboratoryLaboratoryId` varchar(36) DEFAULT NULL,
  `technicalSupportTechnicalSupportId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`laboratoryTechnicalSupportId`),
  KEY `FK_fbbbd1daa81b32814354856f078` (`laboratoryLaboratoryId`),
  KEY `FK_b65099be0b35ea46e4798761b19` (`technicalSupportTechnicalSupportId`),
  CONSTRAINT `FK_b65099be0b35ea46e4798761b19` FOREIGN KEY (`technicalSupportTechnicalSupportId`) REFERENCES `technical_support` (`technicalSupportId`),
  CONSTRAINT `FK_fbbbd1daa81b32814354856f078` FOREIGN KEY (`laboratoryLaboratoryId`) REFERENCES `laboratory` (`laboratoryId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratory_technical_support`
--

LOCK TABLES `laboratory_technical_support` WRITE;
/*!40000 ALTER TABLE `laboratory_technical_support` DISABLE KEYS */;
/*!40000 ALTER TABLE `laboratory_technical_support` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `natural_person`
--

DROP TABLE IF EXISTS `natural_person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `natural_person` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `naturalPersonId` varchar(36) NOT NULL,
  `fullName` varchar(50) NOT NULL,
  `paternalSurname` varchar(25) NOT NULL,
  `maternalSurname` varchar(25) NOT NULL,
  `personPersonId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`naturalPersonId`),
  UNIQUE KEY `REL_98496e3b410188bff95b054222` (`personPersonId`),
  CONSTRAINT `FK_98496e3b410188bff95b054222e` FOREIGN KEY (`personPersonId`) REFERENCES `person` (`personId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `natural_person`
--

LOCK TABLES `natural_person` WRITE;
/*!40000 ALTER TABLE `natural_person` DISABLE KEYS */;
INSERT INTO `natural_person` VALUES ('2025-05-19 19:06:49.144431','2025-05-19 19:06:49.144431','123e4567-e89b-12d3-a456-426614174000','Jose Armando','Menacho','Minchola','f47ac10b-58cc-4372-a567-0e02b2c3d479');
/*!40000 ALTER TABLE `natural_person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parameter`
--

DROP TABLE IF EXISTS `parameter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parameter` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `parameterId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `numberReservationDay` int NOT NULL,
  `miniumNumberMinutes` int NOT NULL,
  `rangeBetweenReservations` int NOT NULL,
  `subscriptionSubscriptionId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`parameterId`),
  UNIQUE KEY `REL_7691c0d95850c40663fb08f801` (`subscriptionSubscriptionId`),
  CONSTRAINT `FK_7691c0d95850c40663fb08f801b` FOREIGN KEY (`subscriptionSubscriptionId`) REFERENCES `subscription` (`subscriptionId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parameter`
--

LOCK TABLES `parameter` WRITE;
/*!40000 ALTER TABLE `parameter` DISABLE KEYS */;
INSERT INTO `parameter` VALUES ('2025-05-19 23:46:49.332937','2025-05-19 23:46:49.332937','d2f1c5fa-b901-4a7c-a374-929321bfd4c0','Parametros recurrentes',5,180,6,'123e4567-e89b-12d3-a456-426614174001');
/*!40000 ALTER TABLE `parameter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `person`
--

DROP TABLE IF EXISTS `person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `person` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `personId` varchar(36) NOT NULL,
  `documentNumber` varchar(12) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `documentIdentityTypeDocumentIdentityTypeId` varchar(36) DEFAULT NULL,
  `personTypePersonTypeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`personId`),
  UNIQUE KEY `IDX_15d02c6b69a737581647a6239d` (`documentNumber`),
  KEY `FK_8b364700014f748869b577e9a19` (`documentIdentityTypeDocumentIdentityTypeId`),
  KEY `FK_91d1f2c0120bec207cf2e950c8b` (`personTypePersonTypeId`),
  CONSTRAINT `FK_8b364700014f748869b577e9a19` FOREIGN KEY (`documentIdentityTypeDocumentIdentityTypeId`) REFERENCES `document_identity_type` (`documentIdentityTypeId`),
  CONSTRAINT `FK_91d1f2c0120bec207cf2e950c8b` FOREIGN KEY (`personTypePersonTypeId`) REFERENCES `persons_type` (`personTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person`
--

LOCK TABLES `person` WRITE;
/*!40000 ALTER TABLE `person` DISABLE KEYS */;
INSERT INTO `person` VALUES ('2025-05-19 19:05:59.719023','2025-05-20 00:34:15.531258','e1c2d3f4-a5b6-7c89-d0e1-2f3a4b5c6d7e','1070125834',1,'abcd1234-5678-90ef-abcd-1234567890ef','d4f5e6a7-b8c9-0d1e-2f3a-4b5c6d7e8f90'),('2025-05-19 19:05:21.319606','2025-05-20 00:34:15.431024','f47ac10b-58cc-4372-a567-0e02b2c3d479','70125834',1,'987fbc9f-4bed-4078-89a6-9a0b9c1d2e3f','1a2b3c4d-5e6f-7a89-bc0d-1e2f3a4b5c6d');
/*!40000 ALTER TABLE `person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `person_information`
--

DROP TABLE IF EXISTS `person_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `person_information` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `personInformationId` varchar(36) NOT NULL,
  `description` varchar(40) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `personPersonId` varchar(36) DEFAULT NULL,
  `informationTypeInformationTypeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`personInformationId`),
  KEY `FK_99c7addd94babc57c050950cd25` (`personPersonId`),
  KEY `FK_a0b1c6864c86beb77d039d7ec8b` (`informationTypeInformationTypeId`),
  CONSTRAINT `FK_99c7addd94babc57c050950cd25` FOREIGN KEY (`personPersonId`) REFERENCES `person` (`personId`),
  CONSTRAINT `FK_a0b1c6864c86beb77d039d7ec8b` FOREIGN KEY (`informationTypeInformationTypeId`) REFERENCES `information_type` (`informationTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person_information`
--

LOCK TABLES `person_information` WRITE;
/*!40000 ALTER TABLE `person_information` DISABLE KEYS */;
INSERT INTO `person_information` VALUES ('2025-05-19 19:09:21.086320','2025-05-19 19:09:21.086320','a9b1c2d3-e4f5-6789-abcd-ef0123456789','josmendev@gmail.com',1,'f47ac10b-58cc-4372-a567-0e02b2c3d479','3fa85f64-5717-4562-b3fc-2c963f66afa6');
/*!40000 ALTER TABLE `person_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persons_type`
--

DROP TABLE IF EXISTS `persons_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persons_type` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `personTypeId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`personTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persons_type`
--

LOCK TABLES `persons_type` WRITE;
/*!40000 ALTER TABLE `persons_type` DISABLE KEYS */;
INSERT INTO `persons_type` VALUES ('2025-05-19 18:48:06.438128','2025-05-19 18:48:06.438128','1a2b3c4d-5e6f-7a89-bc0d-1e2f3a4b5c6d','Persona natural',1),('2025-05-19 18:48:06.439774','2025-05-22 01:58:20.205763','d4f5e6a7-b8c9-0d1e-2f3a-4b5c6d7e8f90','Persona jur├¡dica',1);
/*!40000 ALTER TABLE `persons_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programming_day`
--

DROP TABLE IF EXISTS `programming_day`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programming_day` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `programmingDayId` varchar(36) NOT NULL,
  `dayDayId` varchar(36) DEFAULT NULL,
  `programmingSubscriptionDetailProgrammingSubscriptionDetailId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`programmingDayId`),
  KEY `FK_bc349d693d5bbcc4dee1afd1a3a` (`dayDayId`),
  KEY `FK_0b44f5479aa61eea5926742a2a7` (`programmingSubscriptionDetailProgrammingSubscriptionDetailId`),
  CONSTRAINT `FK_0b44f5479aa61eea5926742a2a7` FOREIGN KEY (`programmingSubscriptionDetailProgrammingSubscriptionDetailId`) REFERENCES `programming_subscription_detail` (`programmingSubscriptionDetailId`),
  CONSTRAINT `FK_bc349d693d5bbcc4dee1afd1a3a` FOREIGN KEY (`dayDayId`) REFERENCES `day` (`dayId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programming_day`
--

LOCK TABLES `programming_day` WRITE;
/*!40000 ALTER TABLE `programming_day` DISABLE KEYS */;
/*!40000 ALTER TABLE `programming_day` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programming_hours`
--

DROP TABLE IF EXISTS `programming_hours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programming_hours` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `programmingHoursId` varchar(36) NOT NULL,
  `initialHour` time NOT NULL,
  `finalHour` time NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  `programmingDayProgrammingDayId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`programmingHoursId`),
  KEY `FK_513b16faf59f6ee24f97e889a73` (`programmingDayProgrammingDayId`),
  CONSTRAINT `FK_513b16faf59f6ee24f97e889a73` FOREIGN KEY (`programmingDayProgrammingDayId`) REFERENCES `programming_day` (`programmingDayId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programming_hours`
--

LOCK TABLES `programming_hours` WRITE;
/*!40000 ALTER TABLE `programming_hours` DISABLE KEYS */;
/*!40000 ALTER TABLE `programming_hours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programming_subscription_detail`
--

DROP TABLE IF EXISTS `programming_subscription_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programming_subscription_detail` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `programmingSubscriptionDetailId` varchar(36) NOT NULL,
  `initialDate` datetime NOT NULL,
  `finalDate` datetime NOT NULL,
  `metadata` json NOT NULL,
  `status` enum('PENDIENTE','VIGENTE','CULMINADO','CANCELADO') NOT NULL,
  `subscriptionDetailSubscriptionDetailId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`programmingSubscriptionDetailId`),
  KEY `FK_d6e65489be03ee87d0548a7fe9b` (`subscriptionDetailSubscriptionDetailId`),
  CONSTRAINT `FK_d6e65489be03ee87d0548a7fe9b` FOREIGN KEY (`subscriptionDetailSubscriptionDetailId`) REFERENCES `subscription_detail` (`subscriptionDetailId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programming_subscription_detail`
--

LOCK TABLES `programming_subscription_detail` WRITE;
/*!40000 ALTER TABLE `programming_subscription_detail` DISABLE KEYS */;
INSERT INTO `programming_subscription_detail` VALUES ('2025-05-20 21:00:05.052061','2025-05-20 21:00:05.052061','e690633e-4e92-4d01-b5ea-6f0bfc22671f','2025-05-15 00:00:00','2025-08-15 00:00:00','{}','VIGENTE','8a9ecf78-c20a-47ff-badb-d378a8ebf2c5');
/*!40000 ALTER TABLE `programming_subscription_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation`
--

DROP TABLE IF EXISTS `reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `reservationId` varchar(36) NOT NULL,
  `metadata` json NOT NULL,
  `subscriberSubscriberId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`reservationId`),
  KEY `FK_919febee785e1d350689607ae5f` (`subscriberSubscriberId`),
  CONSTRAINT `FK_919febee785e1d350689607ae5f` FOREIGN KEY (`subscriberSubscriberId`) REFERENCES `subscriber` (`subscriberId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation`
--

LOCK TABLES `reservation` WRITE;
/*!40000 ALTER TABLE `reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_laboratory_equipment`
--

DROP TABLE IF EXISTS `reservation_laboratory_equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation_laboratory_equipment` (
  `reservationLaboratoryEquipeId` varchar(36) NOT NULL,
  `reservationDate` date NOT NULL,
  `initialHour` time NOT NULL,
  `finalHour` time NOT NULL,
  `metadata` json NOT NULL,
  `status` enum('PENDIENTE','CULMINADO','CANCELADO') NOT NULL,
  `reservationReservationId` varchar(36) DEFAULT NULL,
  `laboratoryEquipmentLaboratoryEquipeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`reservationLaboratoryEquipeId`),
  KEY `FK_334d5a415dcb2803e72a9fd4720` (`reservationReservationId`),
  KEY `FK_4aaaa0141311a7ffd52202a9284` (`laboratoryEquipmentLaboratoryEquipeId`),
  CONSTRAINT `FK_334d5a415dcb2803e72a9fd4720` FOREIGN KEY (`reservationReservationId`) REFERENCES `reservation` (`reservationId`),
  CONSTRAINT `FK_4aaaa0141311a7ffd52202a9284` FOREIGN KEY (`laboratoryEquipmentLaboratoryEquipeId`) REFERENCES `laboratory_equipment` (`laboratoryEquipeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_laboratory_equipment`
--

LOCK TABLES `reservation_laboratory_equipment` WRITE;
/*!40000 ALTER TABLE `reservation_laboratory_equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation_laboratory_equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `roleId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`roleId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('2025-05-19 19:42:35.649315','2025-05-19 19:42:35.649315','16fd2706-8baf-433b-82eb-8c7fada847da','CLIENTE',1);
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service`
--

DROP TABLE IF EXISTS `service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `service` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `serviceId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `serviceTypeServiceTypeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`serviceId`),
  KEY `FK_fa32dc232ef1a61fdc545675054` (`serviceTypeServiceTypeId`),
  CONSTRAINT `FK_fa32dc232ef1a61fdc545675054` FOREIGN KEY (`serviceTypeServiceTypeId`) REFERENCES `services_type` (`serviceTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service`
--

LOCK TABLES `service` WRITE;
/*!40000 ALTER TABLE `service` DISABLE KEYS */;
INSERT INTO `service` VALUES ('2025-05-20 20:49:58.691652','2025-05-20 20:49:58.691652','f7cb64e2-553b-48f3-9f14-6e8f4b26c2cc','Laboratorio de DiseÔö£ÔûÆo','6f3e3e7b-1a9b-4d17-9ad1-6c56c13b6ec0');
/*!40000 ALTER TABLE `service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services_type`
--

DROP TABLE IF EXISTS `services_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `services_type` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `serviceTypeId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`serviceTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services_type`
--

LOCK TABLES `services_type` WRITE;
/*!40000 ALTER TABLE `services_type` DISABLE KEYS */;
INSERT INTO `services_type` VALUES ('2025-05-20 20:49:24.160784','2025-05-20 20:49:24.160784','6f3e3e7b-1a9b-4d17-9ad1-6c56c13b6ec0','Laboratorios Virtuales',1);
/*!40000 ALTER TABLE `services_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriber`
--

DROP TABLE IF EXISTS `subscriber`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriber` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `subscriberId` varchar(36) NOT NULL,
  `username` varchar(15) NOT NULL,
  `password` varchar(62) NOT NULL,
  `isConfirm` tinyint NOT NULL DEFAULT '0',
  `token` varchar(62) DEFAULT NULL,
  `refreshToken` varchar(62) DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `naturalPersonNaturalPersonId` varchar(36) DEFAULT NULL,
  `subscriptionSubscriptionId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`subscriberId`),
  KEY `FK_b8501c8df11a319096ade70e473` (`naturalPersonNaturalPersonId`),
  KEY `FK_20ae9a6b289aeda08e892084de5` (`subscriptionSubscriptionId`),
  CONSTRAINT `FK_20ae9a6b289aeda08e892084de5` FOREIGN KEY (`subscriptionSubscriptionId`) REFERENCES `subscription` (`subscriptionId`),
  CONSTRAINT `FK_b8501c8df11a319096ade70e473` FOREIGN KEY (`naturalPersonNaturalPersonId`) REFERENCES `natural_person` (`naturalPersonId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriber`
--

LOCK TABLES `subscriber` WRITE;
/*!40000 ALTER TABLE `subscriber` DISABLE KEYS */;
INSERT INTO `subscriber` VALUES ('2025-05-19 19:41:32.363434','2025-05-19 19:41:32.363434','7c9e6679-7425-40de-944b-e07fc1f90ae','70125834','123456',1,NULL,NULL,NULL,'123e4567-e89b-12d3-a456-426614174000','123e4567-e89b-12d3-a456-426614174001');
/*!40000 ALTER TABLE `subscriber` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriber_role`
--

DROP TABLE IF EXISTS `subscriber_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriber_role` (
  `subscriberRoleId` varchar(36) NOT NULL,
  `subscriberSubscriberId` varchar(36) DEFAULT NULL,
  `roleRoleId` varchar(36) DEFAULT NULL,
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`subscriberRoleId`),
  KEY `FK_3a7521678604a2a866af626b34e` (`subscriberSubscriberId`),
  KEY `FK_7865d27d5048cb01edfb79c94a1` (`roleRoleId`),
  CONSTRAINT `FK_3a7521678604a2a866af626b34e` FOREIGN KEY (`subscriberSubscriberId`) REFERENCES `subscriber` (`subscriberId`),
  CONSTRAINT `FK_7865d27d5048cb01edfb79c94a1` FOREIGN KEY (`roleRoleId`) REFERENCES `role` (`roleId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriber_role`
--

LOCK TABLES `subscriber_role` WRITE;
/*!40000 ALTER TABLE `subscriber_role` DISABLE KEYS */;
INSERT INTO `subscriber_role` VALUES ('5a3b2c1d-4e6f-7a8b-9c0d-1e2f3a4b5c6d','7c9e6679-7425-40de-944b-e07fc1f90ae','16fd2706-8baf-433b-82eb-8c7fada847da','2025-05-19 22:53:15.856758','2025-05-19 22:53:16.059120');
/*!40000 ALTER TABLE `subscriber_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription`
--

DROP TABLE IF EXISTS `subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `subscriptionId` varchar(36) NOT NULL,
  `initialDate` datetime NOT NULL,
  `finalDate` datetime NOT NULL,
  `contractSigningDate` datetime NOT NULL,
  `status` enum('PENDIENTE','VIGENTE','CULMINADO','CANCELADO') NOT NULL,
  `personPersonId` varchar(36) DEFAULT NULL,
  `subscriptionTypeSubscriptionTypeId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`subscriptionId`),
  KEY `FK_6bb6b594a00a325f56c86fdce14` (`personPersonId`),
  KEY `FK_202112f384503d332c0577af9a1` (`subscriptionTypeSubscriptionTypeId`),
  CONSTRAINT `FK_202112f384503d332c0577af9a1` FOREIGN KEY (`subscriptionTypeSubscriptionTypeId`) REFERENCES `subscriptions_type` (`subscriptionTypeId`),
  CONSTRAINT `FK_6bb6b594a00a325f56c86fdce14` FOREIGN KEY (`personPersonId`) REFERENCES `person` (`personId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription`
--

LOCK TABLES `subscription` WRITE;
/*!40000 ALTER TABLE `subscription` DISABLE KEYS */;
INSERT INTO `subscription` VALUES ('2025-05-19 19:13:17.573670','2025-05-19 19:13:17.573670','123e4567-e89b-12d3-a456-426614174001','2025-05-16 00:00:00','2025-12-16 00:00:00','2025-05-17 00:00:00','VIGENTE','e1c2d3f4-a5b6-7c89-d0e1-2f3a4b5c6d7e','0f1e2d3c-4b5a-6978-90ab-cdef12345678');
/*!40000 ALTER TABLE `subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_detail`
--

DROP TABLE IF EXISTS `subscription_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription_detail` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `subscriptionDetailId` varchar(36) NOT NULL,
  `accountsNumber` int NOT NULL,
  `subscriptionSubscriptionId` varchar(36) DEFAULT NULL,
  `serviceServiceId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`subscriptionDetailId`),
  KEY `FK_3b7ec20c413e2d0d7251204c1e9` (`subscriptionSubscriptionId`),
  KEY `FK_04e65ad66042d7f975c737cf136` (`serviceServiceId`),
  CONSTRAINT `FK_04e65ad66042d7f975c737cf136` FOREIGN KEY (`serviceServiceId`) REFERENCES `service` (`serviceId`),
  CONSTRAINT `FK_3b7ec20c413e2d0d7251204c1e9` FOREIGN KEY (`subscriptionSubscriptionId`) REFERENCES `subscription` (`subscriptionId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_detail`
--

LOCK TABLES `subscription_detail` WRITE;
/*!40000 ALTER TABLE `subscription_detail` DISABLE KEYS */;
INSERT INTO `subscription_detail` VALUES ('2025-05-20 20:52:37.507321','2025-05-20 20:52:37.507321','8a9ecf78-c20a-47ff-badb-d378a8ebf2c5',2,'123e4567-e89b-12d3-a456-426614174001','f7cb64e2-553b-48f3-9f14-6e8f4b26c2cc');
/*!40000 ALTER TABLE `subscription_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions_designe_setting`
--

DROP TABLE IF EXISTS `subscriptions_designe_setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions_designe_setting` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `subscribersDesigneSettingId` varchar(36) NOT NULL,
  `url` varchar(25) NOT NULL,
  `brandOne` varchar(45) DEFAULT NULL,
  `brandTwo` varchar(45) DEFAULT NULL,
  `brandThree` varchar(45) DEFAULT NULL,
  `brandFour` varchar(45) DEFAULT NULL,
  `primaryColor` varchar(10) DEFAULT NULL,
  `secondaryColor` varchar(10) DEFAULT NULL,
  `baseColor` varchar(10) DEFAULT NULL,
  `infoColor` varchar(10) DEFAULT NULL,
  `warningColor` varchar(10) DEFAULT NULL,
  `successColor` varchar(10) DEFAULT NULL,
  `errorColor` varchar(10) DEFAULT NULL,
  `lightColor` varchar(10) DEFAULT NULL,
  `darkColor` varchar(10) DEFAULT NULL,
  `letterFont` varchar(80) DEFAULT NULL,
  `subscriptionSubscriptionId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`subscribersDesigneSettingId`),
  UNIQUE KEY `REL_f7949b5b98bda9538348a91809` (`subscriptionSubscriptionId`),
  CONSTRAINT `FK_f7949b5b98bda9538348a91809c` FOREIGN KEY (`subscriptionSubscriptionId`) REFERENCES `subscription` (`subscriptionId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions_designe_setting`
--

LOCK TABLES `subscriptions_designe_setting` WRITE;
/*!40000 ALTER TABLE `subscriptions_designe_setting` DISABLE KEYS */;
INSERT INTO `subscriptions_designe_setting` VALUES ('2025-05-19 22:25:45.691311','2025-05-19 22:25:45.691311','8f3c02a4-5e20-4e13-9801-0d82fcbd7f3a','ucv',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'123e4567-e89b-12d3-a456-426614174001');
/*!40000 ALTER TABLE `subscriptions_designe_setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions_type`
--

DROP TABLE IF EXISTS `subscriptions_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions_type` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `subscriptionTypeId` varchar(36) NOT NULL,
  `description` varchar(25) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`subscriptionTypeId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions_type`
--

LOCK TABLES `subscriptions_type` WRITE;
/*!40000 ALTER TABLE `subscriptions_type` DISABLE KEYS */;
INSERT INTO `subscriptions_type` VALUES ('2025-05-19 19:11:05.102997','2025-05-19 19:11:05.102997','0f1e2d3c-4b5a-6978-90ab-cdef12345678','PRO',1);
/*!40000 ALTER TABLE `subscriptions_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `technical_support`
--

DROP TABLE IF EXISTS `technical_support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `technical_support` (
  `created_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `technicalSupportId` varchar(36) NOT NULL,
  `fullName` varchar(50) NOT NULL,
  `phone` varchar(11) NOT NULL,
  `email` varchar(20) NOT NULL,
  `documentNumber` varchar(12) NOT NULL,
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`technicalSupportId`),
  UNIQUE KEY `IDX_10a3282071a15a547c1eb8dd04` (`documentNumber`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `technical_support`
--

LOCK TABLES `technical_support` WRITE;
/*!40000 ALTER TABLE `technical_support` DISABLE KEYS */;
/*!40000 ALTER TABLE `technical_support` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-22 17:55:00
